.small-padding {
        padding: 15px 0px 0px 15px;
}

.action-padding {
        padding: 15px;
}

.mat-form-field {
        padding-left: 35px;
}

.mat-input-element {      
        width: 70%; 
        vertical-align: unset;
}
