<form [formGroup]="addInvoiceForm" (ngSubmit)="AddInvoice(addInvoiceForm)" fxLayout="column">
  <mat-card class="m-20 full-height">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <h3 i18n>New invoice</h3>
      <span class="spacer"></span>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
        <button type="button" mat-flat-button color="primary" (click)="AddNewLine()">
          <mat-icon class="mr-2">add</mat-icon>
          <span i18n>Add new line</span>
        </button>

        <button mat-flat-button color="primary" onclick="">
          <mat-icon class="mr-2">save</mat-icon>
          <span i18n>Save</span>
        </button>           
      </div>
    </mat-toolbar>

    <div class="m-20">
      <div class="small-padding">
        <div class="input-row">
          <div fxFlex="100">
            <mat-form-field appearance="standard">
              <mat-label i18n>Client</mat-label>
              <mat-select matInput formControlName="client">
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <h3 class="small-padding" i18n>Invoice information</h3>
        <div class="input-row" >
          <div fxFlex="30">
            <div class="input-row">
              <mat-form-field appearance="outline">
                <mat-label i18n>Invoice identification</mat-label>
                <input matInput formControlName="invoiceId">
              </mat-form-field>
            </div>
            <div class="input-row">
              <mat-form-field appearance="outline">
                <mat-label i18n>Billing date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="billingDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="70">
            <div class="input-row">
              <mat-form-field appearance="outline">
                <mat-label i18n>Due date</mat-label>
                <input matInput formControlName="dueDate">
              </mat-form-field>
            </div>
            <div class="input-row">
              <mat-form-field appearance="outline">
                <mat-label i18n>Message</mat-label>
                <textarea matInput formControlName="message"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>        
        <div class="small-padding m-20">      
          <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20">
            <div class="input-row">
              <div fxLayout="row" fxLayoutAlign="space-around">
                <div fxFlex="30" class="me-2">
                  <h3 class="bold" i18n>Description</h3>
                </div>
                <div fxFlex="20">
                  <h3 class="bold" i18n>Date</h3>
                </div>
                <div fxFlex="5">
                  <h3 class="bold" i18n>Qte</h3>
                </div>
                <div fxFlex="5">
                  <h3 class="bold" i18n>Unit</h3>
                </div>
                <div fxFlex="10">
                  <h3 class="bold" i18n>Price H.T</h3>
                </div>
                <div fxFlex="10">
                  <h3 class="bold" i18n>TVA %</h3>
                </div>
                <div fxFlex="10">
                  <h3 class="bold" i18n>Price T.T.C</h3>
                </div>
              </div>
            </div>
            <app-invoice-line [invoiceLine]="invoiceLine" *ngFor="let invoiceLine of lines"></app-invoice-line>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="small-padding m-20">
          <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20" class="m-20">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
              <div fxFlex="60"></div>
              <div fxFlex="40">
                <table style="width: 100%;">
                  <tr>
                    <td>
                      <h3>Total HT:</h3>
                    </td>
                    <td>
                      <h4>{{ totalHT | currency}}</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h3>VAT rate:</h3>
                    </td>
                    <td>
                      <h4>{{ tva | currency }}</h4>
                    </td>
                  </tr>
                  <tr  class="sum">
                    <td  class="sum">
                      <h2>Total to pay:</h2>
                    </td>
                    <td  class="sum">
                      <h2>{{ total | currency}}</h2>
                    </td>
                  </tr>
                </table>               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

</form>