.small-padding {
        padding: 15px 0px 0px 15px;
}

.action-padding {
        padding: 15px;
}

.mat-form-field {
        padding-left: 35px;
}

.vertical-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        align-items: flex-start;
}

.vertical-radio-button {
        margin: 10px;
}
