<div class="mat-card-container">
  <div fxLayout="row" fxLayoutAlign="space-around">
          <div fxFlex="30" class="me-2">
            <mat-label>{{invoiceLine.product.name}}</mat-label>
          </div>
          <div fxFlex="20">
                 <mat-label>{{invoiceLine.date | date}}</mat-label>
          </div>
          <div fxFlex="5">
            <mat-label>{{invoiceLine.quantity}}</mat-label>
          </div>
          <div  fxFlex="5">
            <mat-label>{{invoiceLine.unit}}</mat-label>
          </div>
          <div fxFlex="10">
            <mat-label>{{invoiceLine.product.priceHT  | currency}}</mat-label>
          </div>
          <div fxFlex="10">
            <mat-label>{{invoiceLine.product.tva | currency }}</mat-label>
          </div>
          <div fxFlex="10">
            <mat-label>{{invoiceLine.product.TTC  | currency}}</mat-label>
          </div>
  </div>

</div>
