<mat-toolbar color="accent">
        <span i18n>Delete mission {{missionToDelete.name}}</span>
      </mat-toolbar>
      <div class="small-padding">
        <h3 i18n>You are about to delete a mission</h3>
        <h4 i18n>Once the mission is deleted we will not be able to restore it.</h4>
        <h4 i18n>All related invoices will be set in a junk state. It is possible to relate them to a new mission.</h4>
      
      </div>
      <mat-divider></mat-divider>
      <div class="action-padding">
        <button mat-button (click)="onDelete()">Ok</button>
      </div>