.m-20 {
        margin: 20px;
}

.ml-16 {
        margin-left: 16px;
}

.mt-20{
        margin-top:20px;
}

.full-height {
        height: calc(100vh - 128px);
}

/* Flex values for the columns */
.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

/* Align the first column to the right */
.right-align {
  text-align: right;
}

/* Align the other columns to the left */
.mat-cell:not(.right-align),
.mat-header-cell:not(.right-align) {
  text-align: left;
}

.mat-header-cell {
  background-color: lightgrey;
  color: black;
}


.invoice-content{
  padding-top: 80px;
  margin-bottom: 20px;
}

.invoice-total{
  padding-top: 80px;
  margin-bottom: 20px;
}

.bordered-row td {
  border-bottom: 2px solid black;
  padding: 5px 0;
}
