<mat-card class="m-20 full-height">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <h3 *ngIf="invoiceInfo!=undefined">{{selectedInvoice.identifier}} / <b>{{invoiceInfo.client.name}}</b></h3>
    <span class="spacer"></span>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
      <button (click)="onEdit()" mat-flat-button color="primary" class="action">
        <mat-icon class="mr-2">edit</mat-icon>
        <span i18n>Edit</span>
      </button>
      <button (click)="onDelete()" mat-flat-button color="accent" class="action">
        <mat-icon class="mr-2">delete</mat-icon>
        <span i18n>Delete</span>
      </button>
    </div>
  </mat-toolbar>
  <div class="m-20">
    <mat-tab-group animationDuration="0ms" *ngIf="invoiceInfo!=undefined">
      <mat-tab label="Invoice details">
        <div class="m-20">
          <div class="small-padding">
            <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20" class="mt-20"
            *ngIf="invoiceInfo!=undefined">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-label fxFlex="50" i18n>Billing date</mat-label>
                <mat-label fxFlex="50">{{invoiceInfo.billingDate | date}} ({{ invoiceInfo.billingDate | daysAgo }} <b i18n>days ago</b>)</mat-label>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-label fxFlex="50" i18n>Due date</mat-label>
                  <mat-label fxFlex="50">{{invoiceInfo.dueDate | invoiceDuedate:invoiceInfo.billingDate | date}} ({{invoiceInfo.dueDate}} <b i18n>days</b>)</mat-label>
              </div>
              <div fxLayout="row" *ngIf="invoiceInfo.message!=undefined">
                  <mat-label fxFlex="50" i18n>Message</mat-label>
                  <mat-label fxFlex="50" i18n>{{invoiceInfo.message}}</mat-label>
              </div>
            </div>
            <mat-table class="invoice-content" [dataSource]="invoiceInfo.invoiceLines">

              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef class="flex-2 bold right-align" i18n>Description</mat-header-cell>
                <mat-cell *matCellDef="let invoiceLine" class="flex-2 bold right-align">{{invoiceLine.product.name}}</mat-cell>
              </ng-container>

              <!-- Date Column -->
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef class="flex-2 bold" i18n>Date</mat-header-cell>
                <mat-cell *matCellDef="let invoiceLine" class="flex-2" >{{invoiceLine.date | date}}</mat-cell>
              </ng-container>

              <!-- Qte Column -->
              <ng-container matColumnDef="qte">
                <mat-header-cell *matHeaderCellDef class="flex-1 bold" i18n>Qte</mat-header-cell>
                <mat-cell *matCellDef="let invoiceLine">{{invoiceLine.quantity}}</mat-cell>
              </ng-container>

              <!-- Unit Column -->
              <ng-container matColumnDef="unit">
                <mat-header-cell *matHeaderCellDef class="flex-1 bold" i18n>Unit</mat-header-cell>
                <mat-cell *matCellDef="let invoiceLine">{{invoiceLine.unit}}</mat-cell>
              </ng-container>

              <!-- Price H.T Column -->
              <ng-container matColumnDef="priceHT">
                <mat-header-cell *matHeaderCellDef class="flex-1 bold" i18n>Price H.T</mat-header-cell>
                <mat-cell *matCellDef="let invoiceLine">{{invoiceLine.product.priceHT  | currency}}</mat-cell>
              </ng-container>

              <!-- TVA % Column -->
              <ng-container matColumnDef="tva">
                <mat-header-cell *matHeaderCellDef class="flex-1 bold" i18n>TVA %</mat-header-cell>
                <mat-cell *matCellDef="let invoiceLine">{{invoiceLine.product.tva | currency }}</mat-cell>
              </ng-container>

              <!-- Price T.T.C Column -->
              <ng-container matColumnDef="priceTTC">
                <mat-header-cell *matHeaderCellDef class="flex-1 bold" i18n>Price T.T.C</mat-header-cell>
                <mat-cell *matCellDef="let invoiceLine">{{invoiceLine.TTC  | currency}}</mat-cell>
              </ng-container>

              <!-- Header & Row Definitions -->
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <div class="invoice-total">
              <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20" class="m-20">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
                  <div fxFlex="60"></div>
                  <div fxFlex="40">
                    <table style="width: 100%;">
                      <tr>
                        <td>
                          <h3>Total HT:</h3>
                        </td>
                        <td>
                          <h4>{{ totalHT | currency}}</h4>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h3>VAT rate:</h3>
                        </td>
                        <td>
                          <h4>{{ tva | currency }}</h4>
                        </td>
                      </tr>
                      <tr class="bordered-row">
                        <td colspan="2">
                        </td>
                      </tr>
                      <tr class="sum">
                        <td class="sum">
                          <h2>Total to pay:</h2>
                        </td>
                        <td class="sum">
                          <h2>{{ total | currency}}</h2>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab i18n-label label="Invoice information">
        <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20" class="mt-20"
          *ngIf="invoiceInfo!=undefined">
          <div fxLayout="row" *ngIf="invoiceInfo.invoiceId" fxLayoutAlign="space-between center">
            <mat-label fxFlex="50" i18n>Invoice id</mat-label>
            <mat-label fxFlex="50" i18n>{{invoiceInfo.invoiceId}}</mat-label>
          </div>
          <div fxLayout="row" *ngIf="invoiceInfo.client.name" fxLayoutAlign="space-between center">
            <mat-label fxFlex="50" i18n>Client</mat-label>
            <mat-label fxFlex="50" i18n>{{invoiceInfo.client.name}}</mat-label>
          </div>
          <div fxLayout="row" *ngIf="invoiceInfo.billingDate" fxLayoutAlign="space-between center">
            <mat-label fxFlex="50" i18n>Creation date</mat-label>
            <mat-label fxFlex="50" i18n>{{invoiceInfo.billingDate | date }}</mat-label>
          </div>
          <div fxLayout="row" *ngIf="invoiceInfo.dueDate" fxLayoutAlign="space-between center">
            <mat-label fxFlex="50" i18n>Due date</mat-label>
            <mat-label fxFlex="50" i18n>{{invoiceInfo.dueDate | invoiceDuedate:invoiceInfo.billingDate | date}}</mat-label>
          </div>
          <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-label fxFlex="50" i18n>Price T.T.C</mat-label>
            <mat-label fxFlex="50" i18n>{{invoiceInfo.totalTTc | currency:' €'}}</mat-label>
          </div> -->
        </div>
      </mat-tab>
      <mat-tab i18n-label label="Client informations">
        <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20" class="mt-20">
            <div fxLayout="row" *ngIf="invoiceInfo.client.telephone" fxLayoutAlign="space-between center">
                <mat-label fxFlex="50" i18n>N° Tel</mat-label>
                <mat-label fxFlex="50" i18n>{{invoiceInfo.client.telephone}}</mat-label>
            </div>
            <div fxLayout="row" *ngIf="invoiceInfo.client.contactName" fxLayoutAlign="space-between center">
                <mat-label fxFlex="50" i18n>Contact Name</mat-label>
                <mat-label fxFlex="50" i18n>{{invoiceInfo.client.contactName}}</mat-label>
            </div>
            <div fxLayout="row" *ngIf="invoiceInfo.client.email" fxLayoutAlign="space-between center">
                <mat-label fxFlex="50" i18n>E-Mail</mat-label>
                <mat-label fxFlex="50" i18n>{{invoiceInfo.client.email}}</mat-label>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20" class="mt-20">
            <div fxLayout="row" *ngIf="invoiceInfo.client.companyName" fxLayoutAlign="space-between center">
                <mat-label fxFlex="50" i18n>Company name</mat-label>
                <mat-label fxFlex="50" i18n>{{invoiceInfo.client.companyName}}</mat-label>
            </div>
            <div fxLayout="row" *ngIf="invoiceInfo.client.siret" fxLayoutAlign="space-between center">
                <mat-label fxFlex="50" i18n>N° Siret</mat-label>
                <mat-label fxFlex="50" i18n>{{invoiceInfo.client.siret}}</mat-label>
            </div>
            <div fxLayout="row" *ngIf="invoiceInfo.client.tva" fxLayoutAlign="space-between center">
                <mat-label fxFlex="50" i18n>N° TVA</mat-label>
                <mat-label fxFlex="50" i18n>{{invoiceInfo.client.tva}}</mat-label>
            </div>
            <div fxLayout="row" *ngIf="invoiceInfo.client.title" fxLayoutAlign="space-between center">
                <mat-label fxFlex="50" i18n>Contact Title</mat-label>
                <mat-label fxFlex="50" i18n>{{invoiceInfo.client.title}}</mat-label>
            </div>
        </div>
    </mat-tab>
    </mat-tab-group>
  </div>

</mat-card>
