<mat-card class="m-20 full-height">
        <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
          <h3>{{selectedInvoice.name}}</h3>
          <span class="spacer"></span>
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
            <button (click)="onEdit()" mat-flat-button color="primary" class="action">
              <mat-icon class="mr-2">edit</mat-icon>
              <span i18n>Edit</span>
            </button>
            <button (click)="onDelete()" mat-flat-button color="accent" class="action">
              <mat-icon class="mr-2">delete</mat-icon>
              <span i18n>Delete</span>
            </button>
          </div>
        </mat-toolbar>
        <div class="m-20">
          <h4 i18n>Invoice identification number: <b>{{selectedInvoice.id}}</b></h4>
          <mat-tab-group animationDuration="0ms" *ngIf="invoiceInfo!=undefined">
                <mat-tab i18n-label label="Invoice information">
                        <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20" class="mt-20" *ngIf="invoiceInfo!=undefined">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                  <mat-label fxFlex="50" i18n>Invoice name</mat-label>
                                  <mat-label fxFlex="50" i18n>{{invoiceInfo.name}}</mat-label>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <mat-label fxFlex="50" i18n>Client name</mat-label>
                                        <mat-label fxFlex="50" i18n>{{invoiceInfo.Client.name}}</mat-label>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                  <mat-label fxFlex="50" i18n>Price H.T</mat-label>
                                  <mat-label fxFlex="50" i18n>{{invoiceInfo.HT | currency:' €'}}</mat-label>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                  <mat-label fxFlex="50" i18n>TVA %</mat-label>
                                  <mat-label fxFlex="50" i18n>{{invoiceInfo.TVA | currency:' %'}}</mat-label>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <mat-label fxFlex="50" i18n>Price T.T.C</mat-label>
                                        <mat-label fxFlex="50" i18n>{{invoiceInfo.TTC | currency:' €'}}</mat-label>
                                </div>
                              </div>
                </mat-tab>
                <mat-tab i18n-label label="Client informations">
                  <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20" class="mt-20">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <mat-label fxFlex="50" i18n>N° Tel</mat-label>
                          <mat-label fxFlex="50" i18n>{{invoiceInfo.Client.telephone}}</mat-label>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <mat-label fxFlex="50" i18n>Contact Name</mat-label>
                          <mat-label fxFlex="50" i18n>{{invoiceInfo.Client.contactName}}</mat-label>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <mat-label fxFlex="50" i18n>E-Mail</mat-label>
                          <mat-label fxFlex="50" i18n>{{invoiceInfo.Client.email}}</mat-label>
                        </div>
                      </div>
                      <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20" class="mt-20">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <mat-label fxFlex="50" i18n>Company name</mat-label>
                          <mat-label fxFlex="50" i18n>{{invoiceInfo.Client.companyName}}</mat-label>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <mat-label fxFlex="50" i18n>N° Siret</mat-label>
                          <mat-label fxFlex="50" i18n>{{invoiceInfo.Client.siret}}</mat-label>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <mat-label fxFlex="50" i18n>N° TVA</mat-label>
                          <mat-label fxFlex="50" i18n>{{invoiceInfo.Client.tva}}</mat-label>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <mat-label fxFlex="50" i18n>Contact Title</mat-label>
                          <mat-label fxFlex="50" i18n>{{invoiceInfo.Client.title}}</mat-label>
                        </div>
                      </div>
                </mat-tab>
          </mat-tab-group>
        </div>
      
      </mat-card>
      