.m-20 {
        margin: 20px;
}

.ml-16 {
        margin-left: 16px;
}

.mt-20 {
        margin-top: 20px;
}

.full-height {
        height: calc(100vh - 128px);
}

.mat-calendar-body-cell.selected {
        background-color: #00ffc6 !important;
        border-radius: 9%;
        border: 1px solid #36ddb8;
        
}

.mat-calendar-body-cell.selected>.mat-calendar-body-cell-content {
        color: white !important;
}
