.m-20 {
        margin: 20px;
}

.ml-16 {
        margin-left: 16px;
}

.mt-20 {
        margin-top: 20px;
}

.full-height {
        height: calc(100vh - 128px);
        min-height: 900px;
}

.mat-calendar-body-cell 
{
        height: 95% !important;
}
.mat-calendar-body-cell.selected::before{
        background-color: #28eda7 !important;
        border-radius: 3%;
}

.mat-calendar-body-cell.morning-selected::before{
        background-color: #28eda7 !important;
        border-radius: 3%;
        height: 50%;
}

.mat-calendar-body-cell.weekend {
        background-color: #e8e8e8 !important;
        border-radius: 0%;
}

.mat-calendar-body-cell.selected>.mat-calendar-body-cell-content {
        color: white !important;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical)
{
        border-radius: 3%;
        background-color: #a1e4cd00 !important;
}

.mat-calendar-controls {
        display: none !important
    }